{% extends "contest/base.html" %}

{% block container %}
<div class="container">
  <div class="row center">
    <div class="row">
      {% if message %}
        <p>{{ message }}</p>
        <a href="{% url 'contest:home' %}" class="pull-right btn btn-primary">Powrót</a>
      {% else %}
        <div class="col s12"><h5>Proszę podać adres email użyty podczas rejestracji:</h5></div>
        <div class="col s8 offset-m2">
          <form action="?next={{next}}" role="form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="pull-right btn btn-primary">Wyślij</button>
          </form>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
