{% extends "contest/base.html" %}

{% block container %}
  <div class="container">
    <div class="row center">
      {% if message %}
        <p>{{ message }}</p>
        {% if issue %}
          <a href="{% url 'contest:reset-email' %}"><button type="button" class="pull-right btn btn-primary">Wyślij nowy link</button></a>
        {% else %}
          <a class="pull-right btn btn-primary" href="{% url 'contest:login' %}">Zaloguj się</a>
        {% endif %}
      {% else %}
        <form class="col s6" action="?next={{next}}" role="form" method="post">
          <div class="row center">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="pull-right btn btn-primary">Gotowe</button>
          </div>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
