{% extends "contest/base.html" %}

{% block container %}
<div class="container">
    <div class="row center">
        {% if message %}
            <p>{{ message }}</p>
            <a class="pull-right btn btn-primary" href="{% url 'contest:login' %}">Zaloguj się</a>
        {% else %}
            <form class="col s6" action="?next={{next}}" role="form" method="post">
                <div class="row center">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="pull-right btn btn-primary">Gotowe</button>
                </div>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
