<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    <h2>Zawodnicy dodani na zawody:</h2>
    {% for contestant in contestants %}
      <div>
        <hr/>
        <p>
          Imię i Nazwisko: {{ contestant.first_name }}
          {{ contestant.last_name }}
        </p>
        <p>Wiek: {{ contestant.year_of_birth }}</p>
        <p>Szkoła/Klub: {{ contestant.school }}</p>
        <p>Style i dystanse: {{ contestant.get_styles_display }}</p>
      </div>
    {% endfor %}
    <a href="{{ link }}">Lista zawodników</a>
  </body>
</html>
