<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    {% if not is_individual_contestant %}
      <h2>Zawodnicy dodani na zawody:</h2>
    {% else %}
      <h2>Zostałeś dodany do zawodów.</h2>
      <h4>Podane dane:</h4>
    {% endif %}
    {% for contestant in contestants %}
      <div>
        <hr/>
        <p>
          Imię i Nazwisko: {{ contestant.first_name }}
          {{ contestant.last_name }}
        </p>
        <p>Wiek: {{ contestant.year_of_birth }}</p>
        <p>Szkoła/Klub: {{ contestant.school }}</p>
        <p>
          Style i dystanse:
          <ul>
            {% for score in contestant.contestantscore_set.all %}
              <li>{{ score.style.name }} {{ score.distance.value }} - {{ score.get_time_result }}</li>
            {% endfor %}
          </ul>
        </p>
      </div>
    {% endfor %}

    {% if not is_individual_contestant %}
      <a href="{{ link }}">Lista zawodników</a>
    {% endif %}
  </body>
</html>
