<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    <h2>{{ contest.name }}</h2>
    <div>
      <hr/>
      <p>Organizator: {{ contest.organization}}</p>
      <p>Data: {{ contest.date }}</p>
      <p>Ostateczny termin dołączenia: {{ contest.deadline }}</p>
      <p>Miejsce: {{ contest.place }}</p>
      <p>Dozwolone roczniki: od {{ contest.lowest_year }} do {{ contest.highest_year }}</p>
      <p>Style: {{ contest.get_styles_display }}</p>
      {% if files_list %}
        <p>Pliki: </p>
        <ul>
          {% for file in files_list %}
            <li>
              <a href="{{ file.url }}" target="_blank" download>{{ file.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div><br>
    <a href="{{ add_contest_link }}">Dołącz do zawodów</a>
    <p>Jeśli nie chcesz otrzymywać powiadomień odnośnie nowych zawodów kliknij w poniższy link:</p>
    <a href="{{ link }}">{{ link }}</a>
  </body>
</html>
