<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    <h2>Witaj</h2>
    <div>
      <hr/>
      Twoje zawody zostały dodane. Oto dostarczone przez Ciebie informacje:
      <p>Nazwa: {{ contest.name }}</p>
      <p>Data: {{ contest.date }}</p>
      <p>Miejsce: {{ contest.place }}</p>
      <p>Dozwolone roczniki: od {{ contest.lowest_year }} do {{ contest.highest_year }}</p>
      <p>Ostateczny termin dołączenia: {{ contest.deadline }}</p>
      <p>
        Style:
        <ul>
          {% for style in contest.styles.all %}
            <li>
              {{ style.style.name }}:
              {% for distance in style.distances.all %}
                {{ distance.value }}
              {% endfor %}
            </li>
          {% endfor %}
        </ul>
      </p>
      {% if files_list %}
        <p>Pliki: </p>
        <ul>
          {% for file in files_list %}
            <li>
              <a href="{{ file.url }}" target="_blank" download>{{ file.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <p>W razie potrzeby możesz dokonać koniecznych zmian w panelu organizatora, który znajduje się pod tym linkiem:</p>
    <a href="{{ link }}">{{ link }}</a>
  </body>
</html>
