/******
Contest
*******/
.contest-item {
  vertical-align: middle;
}

.contest-item .text {
  line-height: 38px;
}

.contest-item .button {
  float: right;
  margin-left: 20px;
}

/************
Base elements
*************/

/* Footer */
.page-footer {
  bottom: 0;
  height: 220px;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.page-footer .row {
  padding-top: 40px;
}

.page-footer .footer-copyright {
  bottom: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}

/* Page content */
#page-content {
<<<<<<< HEAD
    background-color: #fff;
    margin-bottom: 220px;
    padding-bottom: 50px;
    z-index: 1;
=======
  background-color: #fff;
  margin-bottom: 220px;
  padding-bottom: 50px;
  z-index: 1;
>>>>>>> 9615c710d7a541011851fa283529f0d3a43733bd
}

/* General */
.invisible {
  display: none;
}

.visible {
  display: inherit;
}

.inline {
  display: inline;
}

#errors p {
  text-align: center;
}

.nav-margin {
<<<<<<< HEAD
    margin-bottom: 40px !important;
=======
  margin-bottom: 40px !important;
}

.errorlist {
  color: red;
>>>>>>> 9615c710d7a541011851fa283529f0d3a43733bd
}
