/******
Contest
*******/
.contest-item {
  vertical-align: middle;
}

.contest-item .text {
  line-height: 38px;
}

.contest-item .button {
  float: right;
  margin-left: 20px;
}


/**********
Contestants
***********/
/*@keyframes contestants-animation {
    0%   {display: none;}
    100% {display: inherit;}
}
*/
#contestants-preview {
  background-color: white;
  bottom: 0;
  margin: 0;
  position: fixed;
  right: 0;
  width: 200px;
}

#contestants-preview span {
  cursor: pointer;
}

#contestants-preview ul {
  margin: 0;
}


/************
Base elements
*************/

/* Footer */
.page-footer {
  bottom: 0;
  height: 220px;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.page-footer .row {
  padding-top: 40px;
}

.page-footer .footer-copyright {
  bottom: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}

/* Page content */
#page-content {
  background-color: #fff;
  margin-bottom: 220px;
  padding-bottom: 50px;
  z-index: 1;
}

/* General */
.invisible {
  display: none;
}

.visible {
  display: inherit;
}

.inline {
  display: inline;
}

#errors p {
  text-align: center;
}

.nav-margin {
  margin-bottom: 40px !important;
}

.errorlist {
  color: red;
}
