/******
Contest
*******/
.contest-item {
  vertical-align: middle;
}

.contest-item .text {
  line-height: 38px;
}

.contest-item .button {
  float: right;
  margin-left: 20px;
}


/**********
Contestants
***********/
@keyframes show-up {
    from {opacity: 0;}
    to {opacity: 1;}
}

#contestants-preview {
  background-color: white;
  bottom: 0;
  margin: 0;
  position: fixed;
  right: 0;
  width: 200px;
}

#contestants-preview span {
  cursor: pointer;
}

#contestants-preview ul {
  margin: 0;
}

.contestant-form.animation {
  animation-name: show-up;
  animation-duration: 0.5s;
}


/************
Base elements
*************/

/* Footer */
.page-footer {
  bottom: 0;
  height: 220px;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.page-footer .row {
  padding-top: 40px;
}

.page-footer .footer-copyright {
  bottom: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}

/* Page content */
#page-content {
  background-color: #fff;
  margin-bottom: 220px;
  padding-bottom: 50px;
  z-index: 1;
}

/* General */
.invisible {
  display: none;
}

.visible {
  display: inherit;
}

.inline {
  display: inline;
}

#errors p {
  text-align: center;
}

.nav-margin {
  margin-bottom: 40px !important;
}

.errorlist {
  color: red;
}

.error-message:after {
  color: #F44336;
  content: attr(data-error);
  display: block;
  margin-top: 45px;
  position: absolute;
}

/* adding contest */
.distance-choices [type="checkbox"] + label {
  position: relative;
  padding-left: 25px;
  margin-right: 30px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
}

.distance-choices {
  position: relative;
  left: 15px;
  top: 8px;
}