<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Ups!</title>
  <style>
    p {
      text-align: center;
      font-size: 18px;
    }
    div {
      width: 900px;
      height: 300px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  </style>
</head>
<body>
  <div>
    <p>Jasny gwint! Coś się stało... nie wiemy co, ale nie martw się, spróbuj ponownie.</p>
    <p>Jeśli to będzie się powtarzać, skontaktuj się z nami: {{ email }}</p>
  </div>
</body>
</html>