{% extends "contest/base.html" %}
{% block container %}
    <div class="container">
        <div class="row">
            <h5>Zarządzanie kontami</h5>
        </div>
        <div class="row col s12">
            {% if users %}
                {% csrf_token %}
                <table class="striped">
                    <thead>
                        <tr>
                            <th data-field="first_name">Imie</th>
                            <th data-field="last_name">Nazwisko</th>
                            <th data-field="status">Akcja</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users%}
                            <tr id="user-{{ user.id }}">
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>
                                    <a href="#" class="waves-effect waves-light btn" onclick="manageUser('{{ user|to_json }}', true)">Utwórz konto</a>
                                    <a href="#" class="waves-effect waves-light btn" onclick="manageUser('{{ user|to_json }}', false)">Odrzuć zgłoszenie</a>
                                </td>
                            </tr>
                      {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="valign-wrapper">
                    <h5 class="valign">Brak nowych zgłoszeń</h5>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
