{% extends "contest/base.html" %}

{% block container %}
  <div class="container">
      {% if contest %}
        <div class="row">
          <p>Nazwa konkursu: {{ contest.name }}</p>
          <p>Data i miejsce: {{ contest.date }} {{ contest.place }}</p>
          <p>Organizator: {{ contest.organizer }}</p>
          <p>Opis: {{ contest.description }}</p>
          <p>Style i dystanse: {{ contest.get_styles_display }}</p>
        </div>
      {% else %}
        <div class="center">{{ msg }}</div>
      {% endif %}
      <div class="center">
        <a class="pull-right btn btn-primary" href="{% url 'contest:home' %}">Powrót</a>
      </div>
  </div>
{% endblock %}
