{% extends "contest/base.html" %}

{% block container %}
  <div class="container">
    {% if organization %}
      <h1 class="blue-text text-darken-2">{{ organization }}</h1>
    {% endif %}
    <div class="center">
      {% if message %}
        {{ message }}
        <div class="row center">
          <a class="pull-right btn btn-primary" href="{% url 'contest:home' %}">ok</a>
        </div>
      {% else %}
        {% block scripts %}
          {{ block.super }}
          <script>
            var minAge = {{ name.age_min }};
            var maxAge = {{ name.age_max }};
          </script>
        {% endblock scripts %}
        <p class="blue-text text-darken-2">Konkurs: {{ name }}</p>
        <form class="col s6" action="?next={{next}}" role="form" method="post" name="contestants" onsubmit="return validateContestantForm()">
          <div id="formset" class="row center">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
              <div id="id_{{ form.prefix}}">
                {{ form.as_p }}
              </div>
            {% endfor %}
          </div>
          <a class="waves-effect waves-light btn modal-trigger" href="#confirmation-modal">Anuluj</a>
          <div id="confirmation-modal" class="modal">
            <div class="modal-content">
              <h4>Na pewno chcesz powrócić do głównego ekranu? Wszystkie dane wprowadzone przed chwilą zostaną utracone.</h4>
            </div>
            <div class="modal-footer">
              <a class=" modal-action modal-close waves-effect waves-green btn-flat">Nie</a>
              <a href="{% url 'contest:home' %}" class="modal-action modal-close waves-effect waves-green btn-flat">Tak</a>
            </div>
          </div>
          <button type="submit" class="pull-right btn btn-primary">Zakończ</button>
          <button type="button" value="Add More" id="add_more" class="pull-right btn btn-primary">Następny zawodnik</button>
        </form>
      {% endif %}
    </div>
  </div>
  <div id="empty_form" style="display: none;">
    <div id="id_{{ formset.empty_form.prefix}}">
      {{ formset.empty_form.as_p }}
    </div>
  </div>
{% endblock container %}
