{% extends "contest/base.html" %}

{% block container %}
  <div class="container">
    {{ msg }}
    {% if contestants %}
      {% for contestant in contestants %}
        <ul class="collection">
          <li class="collection-item" id="contestant-{{ contestant.id }}">
            {{contestant.first_name }} {{ contestant.last_name }}
            <button onclick="getContestantInfo({{ contestant.id }})" href="#" class="pull-right btn btn-primary right">Szczegóły</button>
              {% if contestant.moderator == request.user %}
                <a class="secondary-content" href="{% url 'contest:contestant-edit' contestant_id=contestant.id %}">
                  <i class="waves-effect waves-light btn">Edytuj</i>
                </a>
              {% endif %}
            <p id="content{{contestant.id}}"></p>
          </li>
        </ul>
      {% endfor %}
    {% endif %}
  </div>
{% endblock container %}
