{% extends "contest/base.html" %}

{% block container %}
  <div class="container">
    <div class="row center">
      {% if message %}
        {{ message }}
        <div class="row center">
          <a class="pull-right btn btn-primary" href="{% url 'contest:home' %}">Ok</a>
        </div>
      {% else %}
        <form name='contestform' class="col s6" action="?next={{next}}" role="form" method="post" enctype="multipart/form-data">
          <div class="row center">
            {% csrf_token %}
            {{ form.as_p }}
            {{ formset.as_p }}
            <a class="waves-effect waves-light btn modal-trigger" href="{% url 'contest:home' %}" >Anuluj</a>
            <button type="submit" class="pull-right btn btn-primary">Gotowe</button>
          </div>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
