{% extends "contest/base.html" %}
{% load staticfiles %}

{% block container %}
  <div class="container">
    <h1 class="header center">Witaj {{ user.first_name }} {{ user.last_name }}</h1>
    <div class="row center">
      <h5 class="header col s12 light">Poniżej znajdziesz informacje o nadchodzących i zakończonych zawodach.</h5>
    </div>
  </div>
  <div class="container">
    <ul class="collection with-header">
      <li class="collection-header">
        <h4 class="center-align">Nadchodzące</h4>
        {% if user.is_authenticated and user.is_creator %}
          <div class="section center-align">
            <a class="waves-effect waves-light btn-large modal-trigger" href="{% url 'contest:contest-add' %}">Nowe zawody</a>
          </div>
        {% endif %}
      </li>
      {% if upcoming %}
        {% for contest in upcoming %}
          <li class="collection-item contest-item">
            <div class="contest-item">
              <a class="text" href="{% url 'contest:contestant-list' contest_id=contest.pk %}">{{ contest }}</a>
              <a class="button waves-effect waves-light btn modal-trigger" href="#modal{{ contest.pk }}"
                onclick="getContestInfo({{ contest.pk }})">Szczegóły</a>
              <a class="button waves-effect waves-light btn modal-trigger" href="{% url 'contest:contestant-add' contest_id=contest.pk %}" 
                onclick="getContestInfo({{ contest.pk }})">Dodaj zawodników</a>
              <div id="modal{{contest.pk}}" class="modal">
                <div class="modal-content">
                  <h4>Szczegóły konkursu</h4>
                  <p id="text{{ contest.pk }}"></p>
                </div>
                <div class="modal-footer">
                  <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Zamknij</a>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      {% else %}
        <li class="collection-item contest-item">
          <p>Brak nadchodzących zawodów w tym momencie. Zapraszamy wkrótce.</p>
        </li>
      {% endif %}
    </ul>
  </div>
  <div class="container">
    <ul class="collection with-header">
      <li class="collection-header">
        <h4 class="center-align">Zakończone</h4>
      </li>
      {% if completed %}
        {% for contest in completed %}
          <li class="collection-item contest-item">
            <div class="contest-item">
              <span class="text">{{ contest }}</span>
              <a class="button waves-effect waves-light btn modal-trigger" href="#modal{{ contest.pk }}"
                 onclick="getContestInfo({{ contest.pk }})">Szczegóły</a>
              <div id="modal{{contest.pk}}" class="modal">
                <div class="modal-content">
                  <h4>Szczegóły konkursu</h4>
                  <p id="text{{ contest.pk }}"></p>
                </div>
                <div class="modal-footer">
                  <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Zamknij</a>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      {% else %}
        <li class="collection-item contest-item">
          <p>Brak zakończonych zawodów w tym momencie. Zapraszamy wkrótce.</p>
        </li>
      {% endif %}
    </ul>
  </div>
{% endblock container %}
