{% extends "contest/base.html" %}
{% load staticfiles %}
{% block container %}
  <div class="container">
    <div class="row">
      <div class="col s5">
        {% if contestants %}
          <ul class="listdots">
            {% for contestant in contestants %}
              <li class="listdots">{{ contestant.first_name }} {{ contestant.last_name }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>{{ msg }}</p>
        {% endif %}
      </div>
      <div class="col s7">
        <div class="center-align">
	        <div class="text_container">
	          <p>Do zamknięcia listy zapisów pozostało:</p>
	          <ul id="clock">
              <div>
	              <span class="days"></span>
	              <li>Dni</li>
              </div>
              <div>
	              <span class="hours"></span>
	              <li>Godzin</li>
              </div>
              <div>
	              <span class="minutes"></span>
	              <li>Minut</li>
              </div>
              <div>
	              <span class="seconds"></span>
	              <li>Sekund</li>
              </div>
	          </ul>
	          <br><a class="pull-right btn btn-primary" href="#">Wygeneruj listy startowe</a><br>
	          <p id="text-{{ contest.pk }}"></p>
	          <a class="pull-right btn btn-primary" href="{% url 'contest:home' %}">Powrót</a>
	          <a class="pull-right btn btn-primary" href="{% url 'contest:contest-edit' contest_id=contest.pk %}">Edytuj</a>
	        </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/rush.js' %}"></script>
  <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
  <script type="text/javascript">
  var deadline = '{{ contest.deadline|date:"c"}}';
  initializeClock('clock', deadline);
  getContestInfo({{ contest.pk }});
  </script>
{% endblock %}
